In [5]:
#LIST:
colors=['blue','red','green','yellow']
print(colors)

['blue', 'red', 'green', 'yellow']

In [19]:
#accessing elemenet in a list
colors=['blue','red','green','yellow']
print(colors[0])
print(colors[0].title())
print(colors[1])
print(colors[2])
print(colors[3])
print(colors[-1])

blue
Blue
red
green
yellow
yellow

In [29]:
#using individual value from list
colors=['blue','red','green','yellow']
message=f"my favorite color is a {colors[0].title()}:"
print(message)

teachers=['dip sir','ranjan sir','saswati mam','tamali mam','himansu sir','suvjit sir']
messagge=f"my favorite teacher is a {teachers[1].title()}:"
print(messagge)

my favorite color is a Blue:
my favorite teacher is a Ranjan Sir:

In [31]:
#changing,addind and removing elements:-
#examle of adding
motorcycles=['honda','yamaha','sizuki']
print(motorcycles)
motorcycles[0]='ducati'
print(motorcycles)

['honda', 'yamaha', 'sizuki']
['ducati', 'yamaha', 'sizuki']

In [36]:
#appending element to the end of the list:
motorcycles=['honda','yamaha','sizuki']
print(motorcycles)
motorcycles.append('ducati')
print(motorcycles)

dinner=['chapati','pulse','fish']
print(dinner)
dinner.append('chiken')
print(dinner)

['honda', 'yamaha', 'sizuki']
['honda', 'yamaha', 'sizuki', 'ducati']
['chapati', 'pulse', 'fish']
['chapati', 'pulse', 'fish', 'chiken']

In [41]:
#inserting element into a list:
motorcycles=['honda','yamaha','sizuki']
print(motorcycles)
motorcycles.insert(0,'ducati')
print(motorcycles)
motorcycles.insert(1,'boloro')
print(motorcycles)
motorcycles.insert(2,'marutti')
print(motorcycles)

['honda', 'yamaha', 'sizuki']
['ducati', 'honda', 'yamaha', 'sizuki']
['ducati', 'boloro', 'honda', 'yamaha', 'sizuki']
['ducati', 'boloro', 'marutti', 'honda', 'yamaha', 'sizuki']

In [46]:
#Removing an item using the del statemenat:
motorcycles=['honda','yamaha','sizuki','ducati','boloro']
print(motorcycles)
del motorcycles[0]
print(motorcycles)
del motorcycles[1]
print(motorcycles)
del motorcycles[2]
print(motorcycles)

['honda', 'yamaha', 'sizuki', 'ducati', 'boloro']
['yamaha', 'sizuki', 'ducati', 'boloro']
['yamaha', 'ducati', 'boloro']
['yamaha', 'ducati']

In [61]:
#Removing an item using the pop method:
motorcycles=['honda','yamaha','sizuki','ducati','boloro']
print(motorcycles)
popped_motorcycles=motorcycles.pop()
print(motorcycles)
print(popped_motorcycles)
colors=['bue','red','black','white','green']
print(colors)
popped_colors=colors.pop()
print(colors)
print(popped_colors)

games=['cricket','hocky','football','ludo','chase']
print(games)
popped_games=games.pop(0) #for any posssition popped
print(games)
print(popped_games)
popped_games=games.pop(1) #for any posssition popped
print(games)
print(popped_games)

['honda', 'yamaha', 'sizuki', 'ducati', 'boloro']
['honda', 'yamaha', 'sizuki', 'ducati']
boloro
['bue', 'red', 'black', 'white', 'green']
['bue', 'red', 'black', 'white']
green
['cricket', 'hocky', 'football', 'ludo', 'chase']
['hocky', 'football', 'ludo', 'chase']
cricket
['hocky', 'ludo', 'chase']
football

In [72]:
#Removing an items by value:
motorcycles=['honda','yamaha','sizuki','ducati','boloro']
print(motorcycles)
motorcycles.remove('honda')
print(motorcycles)
motorcycles.remove('sizuki')
print(motorcycles)
motorcycles.remove('boloro')
print(motorcycles)

too_expensive='ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"A {too_expensive.title()} is too expensive for me:")

['honda', 'yamaha', 'sizuki', 'ducati', 'boloro']
['yamaha', 'sizuki', 'ducati', 'boloro']
['yamaha', 'ducati', 'boloro']
['yamaha', 'ducati']
['yamaha']
A Ducati is too expensive for me:

In [87]:
#sorting a list permanently using the sort method:
colors=['blue','red','green','yellow']
print(colors)
colors.sort()
print(colors)

colors.sort(reverse=True) # for reverse item and here true taken first letter capital
print(colors)

['blue', 'red', 'green', 'yellow']
['blue', 'green', 'red', 'yellow']
['yellow', 'red', 'green', 'blue']

In [111]:
#sorting a list temprorary using the sorted funtion
cars=['bmw','audi','suzuki','subaru']
print("Here is the original list")
print(cars)

print("Here is the sorted list")
print(sorted(cars))
print("Here is the original list again")
print(cars)

Here is the original list
['bmw', 'audi', 'suzuki', 'subaru']
Here is the sorted list
['audi', 'bmw', 'subaru', 'suzuki']
Here is the original list again
['bmw', 'audi', 'suzuki', 'subaru']

In [113]:
#printing a list in reverse order
cars=['bmw','audi','suzuki','subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'suzuki', 'subaru']
['subaru', 'suzuki', 'audi', 'bmw']

In [117]:
#finding the length of list:
cars=['bmw','audi','suzuki','subaru']
print(len(cars))
letters=['a','b','c','d','e','f','g']
print(len(letters))

4
7

In [6]:
# solution of lecture 4
#1-creat a list and print its elements
months=['january','february','march','april','may','june','july','august','september','october','november','december']
print(months)
print(months[1])
print(months[5])
print(months[-1])

['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']
february
june
december

In [10]:
#2-print list element in title  case
days=['sunday','momday','tuesday','wednesday','thursday','friday','saturday']
print(days)
print(days[2].title())
print(days[4].title())

['sunday', 'momday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
Tuesday
Thursday

In [15]:
#3   print list item with format
numberlist=['one','two','three','four','five','six','seven','eight','nine']
print(numberlist)
message=f"{numberlist[0].title()}:"
print(message)
message=f"{numberlist[1].title()}:"
print(message)
message=f"{numberlist[2].title()}:"
print(message)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
One:
Two:
Three:

In [21]:
#4
oddnumber=[1,3,5,7]
print(oddnumber)

oddnumber.append(9)
print(oddnumber)

oddnumber.append(11)
print(oddnumber)

[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]

In [22]:
#5 empyt list
dinner=[]
dinner.append('chapatti')
dinner.append('pulse')
dinner.append('rice')
dinner.append('fish')
dinner.append('chiken')
print(dinner)

['chapatti', 'pulse', 'rice', 'fish', 'chiken']

In [24]:
#5 insert method
students=['arun','gaurav','mans','shayam','veer']
print(students)
students.insert(3,'swati')
print(students)

['arun', 'gaurav', 'mans', 'shayam', 'veer']
['arun', 'gaurav', 'mans', 'swati', 'shayam', 'veer']

In [29]:
#6 remove the ele......
students=['arun','gaurav','mans','shayam','veer']
print(students)
del students[0] # by index
print(students)
students.remove('gaurav') # by value
print(students)

['arun', 'gaurav', 'mans', 'shayam', 'veer']
['gaurav', 'mans', 'shayam', 'veer']
['mans', 'shayam', 'veer']

In [32]:
#7 Remove the item and print removeed value:
numbers=['10','15','27','41,64','83']
print(numbers)
popped_numbers=numbers.pop()
print(numbers)
print(popped_numbers)

['10', '15', '27', '41,64', '83']
['10', '15', '27', '41,64']
83

In [34]:
#8 remove element by value
students=['arun','gaurav','mans','shayam','veer']
print(students)
annual_exam='gaurav'
students.remove(annual_exam)
print(students)
print(f"{annual_exam.title()} was notb able to pass his annual exam:")

['arun', 'gaurav', 'mans', 'shayam', 'veer']
['arun', 'mans', 'shayam', 'veer']
Gaurav was notb able to pass his annual exam:

In [41]:
#9 sort the list:
persons=['radhe','sonu','pankaj','rohan','ganma','meenu','ajay','prashad','anand']
print(persons)

persons.sort()
print(persons)

persons.sort(reverse=True)
print(persons)

['radhe', 'sonu', 'pankaj', 'rohan', 'ganma', 'meenu', 'ajay', 'prashad', 'anand']
['ajay', 'anand', 'ganma', 'meenu', 'pankaj', 'prashad', 'radhe', 'rohan', 'sonu']
['sonu', 'rohan', 'radhe', 'prashad', 'pankaj', 'meenu', 'ganma', 'anand', 'ajay']

In [45]:
#10 printer pemporaray a list:
persons=['radhe','sonu','pankaj','rohan','ganma','meenu','ajay','prashad','anand']
print("Here is the original list")
print(persons)

print("Here is the sorted list")
print(sorted(persons))

print("Here is the original list again")
print(persons)

Here is the original list
['radhe', 'sonu', 'pankaj', 'rohan', 'ganma', 'meenu', 'ajay', 'prashad', 'anand']
Here is the sorted list
['ajay', 'anand', 'ganma', 'meenu', 'pankaj', 'prashad', 'radhe', 'rohan', 'sonu']
Here is the original list again
['radhe', 'sonu', 'pankaj', 'rohan', 'ganma', 'meenu', 'ajay', 'prashad', 'anand']

In [47]:
#11- print reverse order:
persons=['radhe','sonu','pankaj','rohan','ganma','meenu','ajay','prashad','anand']
print(persons)

persons.reverse()
print(persons)

['radhe', 'sonu', 'pankaj', 'rohan', 'ganma', 'meenu', 'ajay', 'prashad', 'anand']
['anand', 'prashad', 'ajay', 'meenu', 'ganma', 'rohan', 'pankaj', 'sonu', 'radhe']

In [52]:
#12-find length of a list:
names=('suresh','john','rohit','jitendra','sammir')
print(names)
print("length of the list:-")
print(len(names))

('suresh', 'john', 'rohit', 'jitendra', 'sammir')
length of the list:-
5

In [20]:
#WEEK 2
#working with list

magicians=['alice','david','carolino']
for magician in magicians:
 print(magician)

alice
david
carolino

In [25]:
#for loop
magicians=['alice','david','carolino']
for magician in magicians:
    print(f"{magician.title()},that was great trick")
    print(f"i can't wait to see your next trick,{magician.title()}\n")
    print("thank you,everyone.that was a great magic show")

Alice,that was great trick
i can't wait to see your next trick,Alice

thank you,everyone.that was a great magic show
David,that was great trick
i can't wait to see your next trick,David

thank you,everyone.that was a great magic show
Carolino,that was great trick
i can't wait to see your next trick,Carolino

thank you,everyone.that was a great magic show

In [5]:
#using the range funtion
for value in range(1,6):
    print(value)

1
2
3
4
5

In [27]:
#using range to make a list
numbers=list(range(1,6))
print(numbers)

even_numbers=list(range(1,11))
print("\n")
print(even_numbers)

[1, 2, 3, 4, 5]


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
#for empty list
square=[]
for value in range(1,11,1):
    square.append(value**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
square=[]
for value in range(1,11,1):
    square=value**2
    square.append(square)
print(square)

AttributeError: 'int' object has no attribute 'append'

In [69]:
#numerical value
digit=[1,2,3,4,5,6,7,8,9,0]
min(digit)

0

In [62]:
digit=[1,2,3,4,5,6,7,8,9,0]
sum(digit)

45

In [66]:
digit=[1,2,3,4,5,6,7,8,9,0]
max(digit)

9

In [114]:
# list comprehension
square=[value**3 for value in range(1,11,1)]
print(square[:3])

[1, 8, 27]

In [115]:
# slicing a list
players=['virat','sachin','dhoni','hardik','rohit']
print(players[1:3])

print(players[1:4])

print(players[:4])

print(players[0:])

print(players[-3:])

['sachin', 'dhoni']
['sachin', 'dhoni', 'hardik']
['virat', 'sachin', 'dhoni', 'hardik']
['virat', 'sachin', 'dhoni', 'hardik', 'rohit']
['dhoni', 'hardik', 'rohit']

In [104]:
# looping throught a slicing
players=['virat','sachin','dhoni','hardik','rohit']
print("Here are the first three players of my team")
for player in players[:3]:
    print(player.title())

Here are the first three players of my team
Virat
Sachin
Dhoni

In [109]:
 #looping throught a slicing
friends=['bimlesh','neeraj','shishupal','sammir','ritesh']
print("this is my  best friends")
for friend in friends[0:]:
        print(friend.title())

this is my  best friends
Bimlesh
Neeraj
Shishupal
Sammir
Ritesh

In [113]:
# how can copy the list
my_foods=['pizza','falafel','carrot cake']
friends_foods=my_foods

print("my fevorite foods")
print(my_foods)
print("\n")
print("my friend's fevrote  foods")
print(friends_foods)

my fevorite foods
['pizza', 'falafel', 'carrot cake']


my friend's fevrote  foods
['pizza', 'falafel', 'carrot cake']

In [118]:
#dufining tuple
dimensions = (200, 50)
print("dimensions 1:",dimensions[0])
print("dimensions 2:",dimensions[1])

dimensions 1: 200
dimensions 2: 50

In [124]:
list=('a','e','i','o','u')
print("voewl 1;",list[0])
print("voewl 2;",list[1])
print("voewl 3;",list[2])
print("voewl 4;",list[3])
print("voewl 5;",list[4])

voewl 1; a
voewl 2; e
voewl 3; i
voewl 4; o
voewl 5; u

In [1]:
# for loop using range function

# print the reciprocals number

rsum=0.0
for i in range(1,11):
    rsum=rsum +1.0/i
    print('\nsum is',rsum)

sum is 1.0

sum is 1.5

sum is 1.8333333333333333

sum is 2.083333333333333

sum is 2.283333333333333

sum is 2.4499999999999997

sum is 2.5928571428571425

sum is 2.7178571428571425

sum is 2.8289682539682537

sum is 2.9289682539682538

In [7]:
#example of geometric progression
r=float(input('r= '))
a=float(input('a= '))
n=int(input('n= '))
term=a
print(term)
for i in range(1,11):
    term=term*r
    print(term)

r= 2.1
a= 3.2
n= 4
3.2
6.720000000000001
14.112000000000002
29.635200000000005
62.23392000000001
130.69123200000004
274.4515872000001
576.3483331200002
1210.3314995520007
2541.6961490592016
5337.561913024324

In [3]:
# NESTED LOOP:-
for i in range(1,11):
    for j in range(1,7):
        print(i*j, end='\t')
    print()

1	2	3	4	5	6
2	4	6	8	10	12
3	6	9	12	15	18
4	8	12	16	20	24
5	10	15	20	25	30
6	12	18	24	30	36
7	14	21	28	35	42
8	16	24	32	40	48
9	18	27	36	45	54
10	20	30	40	50	60

In [21]:
# one more example:
for i in range(1,6):
    for j in range(i,2*i):
        print(j, end='\t')
    print()

1
2	3
3	4	5
4	5	6	7
5	6	7	8	9

In [41]:
# star pattern
for i in range(1,6):
    for j in range(i,2*i):
        print('*')
    print(j, end='\t')
    print()

*
1
*
*
3
*
*
*
5
*
*
*
*
7
*
*
*
*
*
9

In [47]:
#TUPLE:
t=('intro to python',101,'amey')
print(t[0])
print(t[2])
print(t[1])
print(type(t))

intro to python
amey
101
<class 'tuple'>

In [50]:
#Nested Tuples:
course=('python','java','R','C')
student=('parashana',34,course)
print(student)
course=('statas','adam')
print(student)

('parashana', 34, ('python', 'java', 'R', 'C'))
('parashana', 34, ('python', 'java', 'R', 'C'))

In [61]:
#length of tuples
course=('python','java','R','C')
student=('parashana',34,course)
empty=()
single=('j')
print(len(course))
print(len(empty))
print(len(student))
print(len(single))

4
0
3
1

In [66]:
course=('python','java','R','C')
course2=('parashana',34,course)
print(course+course2)

('python', 'java', 'R', 'C', 'parashana', 34, ('python', 'java', 'R', 'C'))

In [8]:
#more operatiom on tuple:
course1=('python','amey','101')
course2=('status','adam','102')
print(course1+course2)
print('\n')

print((course1+course2)[3])
print('\n')

print((course1+course2)[2:7])
print('\n')

print(2*course1)

('python', 'amey', '101', 'status', 'adam', '102')


status


('101', 'status', 'adam', '102')


('python', 'amey', '101', 'python', 'amey', '101')

In [14]:
# unpacking sequence:
student=('prasanna',34,('python','amey',101))
name,roll,regodcourse=student
print(name)
print(roll)
print(regodcourse)
print('\n')
x1,x2,x3,x4="amey"
print(x1,x2,x4,x4)

prasanna
34
('python', 'amey', 101)


a m y y

In [18]:
#list ,b/t square bracket is same type:
fst=[1,2,4,5,6,7,8,]
print(fst)
print(type(fst))

[1, 2, 4, 5, 6, 7, 8]
<class 'list'>

In [28]:
# sequence operations:
fib=[1,1,2,3,4,5,6,7,8,13,21,34,55]
print(fib)
print(fib[3])
print(fib[3:])
print([0]+fib)
print(3*[1,1,2])

x,y,z=[1,2,3]
print(x,y,z)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 13, 21, 34, 55]
3
[3, 4, 5, 6, 7, 8, 13, 21, 34, 55]
[0, 1, 1, 2, 3, 4, 5, 6, 7, 8, 13, 21, 34, 55]
[1, 1, 2, 1, 1, 2, 1, 1, 2]
1 2 3