In [3]:
name="jitendr kumar"
print(name.title())

Jitendr Kumar

In [5]:
#string
first_name="amey"
last_name="karkare"
full_name=f"{first_name} {last_name}"
print(full_name)

amey karkare

In [9]:
message=f"hello {first_name} {last_name}"
print(message)

hello amey karkare

In [13]:
#list
print("python")
print("\npython")

python

python

In [4]:
print("languagr:\n\tpython\n\tc\n\tjava")

languagr:
	python
	c
	java

In [7]:
#lectur2
#int number
a=2;
b=3;
print(a+b);

5

In [11]:
a=3;
b=2;
print(a-b);

1

In [12]:
a=3;    #base number
b=2;    #power number
print(3**2);

9

In [13]:
#float numer
a=0.1;
b=0.1;
print(a+b);

0.2

In [15]:
a=0.2;
b=0.3;
print(a-b);

-0.09999999999999998

In [16]:
a=4.;
b=2;
print(a/b);

2.0

In [17]:
#flpot and int
a=4;
b=2.0;
print(a/b);

2.0

In [18]:
#print value is 10_00_000
x=10_00_000
print(x)

1000000

In [19]:
#multiply
number1=5
number2=22
print(number1*number2)

110

In [20]:
#type funtion
print(type(200))

<class 'int'>

In [26]:
x=0.3010
print('value is',x)
print(type(x))

value is 0.301
<class 'float'>

In [27]:
name=("jitendra kumar");
print(type(name))

<class 'str'>

In [5]:
#    solution of lecture 3
#conversion of data type

#float to int
a=2.3;
print(int(a))

2

In [7]:
#str to int
a='5'
res=int(a)+2
print(res)

7

In [12]:
#saubtraction
x,y=10,20
z=x-y
print(z)

-10

In [11]:
#add 1 bodh of variables
x,y=10,20
x,y=x+1,y+1
print(x,y)

11 21

In [14]:
#writet the coment for each statement
redius=20 #redius
diameter=2*redius #diameter
print(diameter) #value of diameter

40

In [16]:
#find int division
div=8//3
print(div)

2

In [18]:
#find remainder
a=9
b=2
c=a%b
print(c)

1

In [42]:
# find unary oparetor
x=-4
y=str('true')
z=(not y)
   
print(x);
print(z);

-4
False

In [43]:
#int div
a=7//3
b=8//2
c=5//2
print('a=',a)
print('b=',b)
print('c=',c)

a= 2
b= 4
c= 2

In [45]:
 #compare two string (given below) using a relational operator.
a='z'
b='a'
print('z'<'a')
x='acr'
y='carpet'
print('x'<'y')

False
True

In [51]:
#check output equal or not
a=7/3
b=7//3
print(a==b)

False

In [58]:
#using Logical Operator ("and", "or" and "not")
a='true'
b='false'
print(a and b)

x='true'
y='false'
print(x or z)

print(not x)

false
true
False